.dashboard {
  width: 80vw;
  margin: auto;
  position: relative;
  height: 60vh;
}

.sectionBody {
  background-color: whitesmoke;
  color: black;
  height: 60vh;
  overflow: scroll;
}

#logout {
  position: absolute !important;
  top: 10px;
  right: 10px;
}
